<!DOCTYPE html>
<html>
{% include head.html %}

{% include navigation.html %}

<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
        <div class="container">
            <div class="row">


                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1 class="text-dark">Our <strong>Services</strong></h1>
                    <span class="sub-title text-dark">We Are Here To Help You</span>
                </div>


                <div class="col-md-4 order-1 order-md-2 align-self-center">
                    <ul class="breadcrumb d-block text-md-right">
                        <li><a href="/">Home</a></li>
                        <li class="active">Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-4">

        <div class="row justify-content-center pt-4 mt-5 mb-5">
            <div class="col-lg-8 text-center">
                <div class="overflow-hidden mb-3">
                    <h2 class="font-weight-bold mb-0 appear-animation" data-appear-animation="maskUp">Your ideas start to live thanks to us!</h2>
                </div>
                <div class="overflow-hidden mb-3">
                    <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">We create great solutions adapted to your needs in the fields of web and mobile development, creative designing and strong marketing. We create brands and content, we build products and websites, we strategize and brainstorm over your business.</p>
                    <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Whatever your vision is we can make it alive. Looking for complex services? You’re in a right place.</p>
                </div>
            </div>
        </div>

        <div class="row py-3 justify-content-center">
            <div class="col-sm-8 col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeIn">
                <article>
                    <div class="row">
                        <div class="col">
                            <a href="#" class="text-decoration-none">
                                <img src="img/java.png" class="img-fluid hover-effect-2 mb-3" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="mb-0"><a href="#" class="text-2 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">Java Development</a></h4>
                            <p class="mb-2 lead text-4">Spring, Play, Lagom, Micronaut</p>
                            <p class="text-2">Companies turn to Java for its stability, flexibility and cross-platform opportunities. At SilenceOntheWire, we provide Java software development services to provide our clients with high-quality and fail-safe applications. The SilenceOntheWire custom software development teams have sound experience in Java technology and use its vast knowledge to deliver a wide range of software solutions.</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-8 col-md-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="250">
                <article>
                    <div class="row">
                        <div class="col">
                            <a href="#" class="text-decoration-none">
                                <img src="img/new-php.png" class="img-fluid hover-effect-2 mb-3" alt="" width="750" height="500" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="mb-0"><a href="#" class="text-2 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">PHP Development</a></h4>
                            <p class="mb-2 lead text-4">Symfony 3/4, Laravel, Zend Framework 3</p>
                            <p class="text-2">SilenceOtheWire has profound experience designing, building and deploying fault-tolerant PHP solutions for companies across a variety of industries including healthcare, finance, edutech, manufacturing, transportation and media. Our core PHP development expertise falls into two major categories: custom web applications and powerful backends.</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-8 col-md-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
                <article>
                    <div class="row">
                        <div class="col">
                            <a href="#" class="text-decoration-none">
                                <img src="img/quality-assurance.png" class="img-fluid hover-effect-2 mb-3" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="mb-0"><a href="#" class="text-2 text-uppercase font-weight-bold pt-2 d-block text-dark text-decoration-none">Quality Assurance</a></h4>
                            <p class="mb-2 lead text-4">Quality Assurance, Performance and Security</p>
                            <p class="text-2">The SilenceOntheWire team is an independent software testing and process consultancy partner. We provide a combination between professional SilenceOntheWire consultants with a state of the art methodology and an unique strategy proving the quality of your products. Further, we serve as a best choice for cost-effectiveness assessor of your own business processes. </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>

    </div>

    <section class="section bg-color-primary section-height-3 border-0 mt-4 mb-0">
        <div class="container">

            <div class="row">
                <div class="col-md-10 py-3 mx-md-auto">
                    <div class="row pt-2 clearfix">
                        <div class="col-lg-6">
                            <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter">
                                <div class="feature-box-icon">
                                    <i class="icon-screen-desktop icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="mb-2 text-5 text-color-light">WEB DEVELOPMENT</h4>
                                    <p class="mb-4 text-color-light opacity-6">Backend ussing Laravel, Zend Framework, Symfony and frontend using Bootstrap, Angular, VueJs, React</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter">
                                <div class="feature-box-icon">
                                    <i class="icon-screen-smartphone icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="mb-2 text-5 text-color-light">MOBILE APP DEVELOPMENT</h4>
                                    <p class="mb-4 text-color-light opacity-6">Android native application, Phone, Tablet, TV, iPhone, iPad. Hybrid Android app using phonegap, Xamarin.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                                <div class="feature-box-icon">
                                    <i class="icon-globe icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="mb-2 text-5 text-color-light">ERP AND CMS DEVELOPMENT</h4>
                                    <p class="mb-4 text-color-light opacity-6">Enterprise software development using: .Net framework, Spring framework, Play framework, Lagoom, Micronaut cloud technology.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
                                <div class="feature-box-icon">
                                    <i class="icon-screen-tablet icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="mb-2 text-5 text-color-light">GAME DEVELOPMENT</h4>
                                    <p class="mb-4 text-color-light opacity-6">Cocos2dx game development. 3D mobile game development using Unity3D, Unreal 4, Irrlicht, Box2d, Bullet. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
                                <div class="feature-box-icon">
                                    <i class="icon-rocket icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="mb-2 text-5 text-color-light">SOFTWARE TESTING</h4>
                                    <p class="mb-0 text-color-light opacity-6">We have a bench team of talented Software Test Engineers available for your project with as little as one day’s notice.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
                                <div class="feature-box-icon">
                                    <i class="icon-cloud-upload icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="mb-2 text-5 text-color-light">IOT</h4>
                                    <p class="mb-0 text-color-light opacity-6">Big Data, Wearable Apps, WebOS Apps. Using Arduino, Rasberry Pi devices, embedded device and microcontroller.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <div class="container">
        <div class="row justify-content-center pt-4 mt-5 mb-5">
            <div class="col-lg-8 text-center">
                <div class="overflow-hidden mb-3">
                    <h2 class="font-weight-bold mb-0 appear-animation" data-appear-animation="maskUp">Learn more about our process</h2>
                </div>
                <div class="overflow-hidden mb-3">
                    <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">We are a skilled team of professionals in the field of software development. We use our passion for development to deliver the best software applications. With the combination of technology, know-how and great communication, we are able to create complete solutions for our clients.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pb-5">

            <div class="col-md-7 col-lg-4 mb-5 mb-lg-0">
                <div class="circular-bar mb-lg-5 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">
                    <div class="circular-bar-chart" data-percent="35" data-plugin-options="{'barColor': '#0088cc'}">
                        <strong class="mt-2 text-color-primary">35%</strong>
                    </div>
                </div>
                <div class="col text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="900">
                    <h4 class="font-weight-bold">Meetings</h4>
                </div>
            </div>

            <div class="col-md-7 col-lg-4 mb-5 mb-lg-0">
                <div class="circular-bar mb-lg-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="400">
                    <div class="circular-bar-chart" data-percent="65" data-plugin-options="{'barColor': '#0088cc'}">
                        <strong class="mt-2 text-color-primary">65%</strong>
                    </div>
                </div>
                <div class="col text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="900">
                    <h4 class="font-weight-bold">Execute</h4>
                </div>
            </div>

            <div class="col-md-7 col-lg-4">
                <div class="circular-bar mb-lg-5 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                    <div class="circular-bar-chart" data-percent="100" data-plugin-options="{'barColor': '#0088cc'}">
                        <strong class="mt-2 text-color-primary">100%</strong>
                    </div>
                </div>
                <div class="col text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="900">
                    <h4 class="font-weight-bold">Delivery</h4>
                </div>
            </div>

        </div>

    </div>
</div>

{% include page_footer.html %}

{% include footer.html %}
</html>